:root {
    --color-fondo-oscuro: #212529; /* Gris muy oscuro */
    --color-fondo-medio: #343a40;  /* Gris oscuro  */
    --color-texto-claro: #f8f9fa;  /* Gris claro */
    --color-acento: #ffc107;       /* amarillo */
    --fuente-principal: 'Poppins', sans-serif;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-claro);
    padding-top: 56px;
}

.header-principal {
    height: 70vh; 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img/3d.jpg');
    background-size: cover;
    background-position: center;
}

.btn-warning {
    background-color: var(--color-acento);
    border: none;
    font-weight: 600;
}

/* Efecto Hover en botones [15] */
.btn-warning:hover {
    transform: scale(1.05); /* Pequeño aumento de tamaño */
    transition: transform 0.3s ease; /* Transición suave [16] */
}
